{% extends 'dashboard.html' %}
{% block dashboard %}
    <div class="row my-3">
      <div class="col-12">
        <div class="text-right">
          <div class="btn-group dropdown">
            <a class="btn btn-lg btn-outline-dark rounded" href="{% url 'account_edit' pk=item.pk %}">Edit</a>
            <div class="dropdown-menu">
{% include 'actions.html' %}
            </div>
          </div>
      </div>
    </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% include 'field_table.html' %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        <li><h1>{{ item.name }}</h1></li>
        <li><h3>{{ item.number|default:'' }}</h3></li>
        <li><a class="btn btn-lg btn-light" style="text-decoration: none" target="_blank" href="{{ item.url }}">{{ item.url }}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% if item.note.all %}<h2>Notes</h2>{% endif %}
      <ul>
      {% for note in item.note.all %}
        <li>{{ note.text|safe }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
