{% extends 'dashboard.html' %}
{% block dashboard %}
    <div class="row my-3">
      <div class="col-6">
        <h2>{{ item.name|default:'Unnamed Client' }}</h2>
      </div>
      <div class="col-6">
        <div class="text-right">
          <div class="btn-group dropdown">
            <a class="btn btn-lg btn-outline-dark rounded" href="{% url 'account_edit' pk=item.pk %}">Edit</a>
            <div class="dropdown-menu">
{% include 'actions.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active btn-light" id="v-pills-url-tab" data-toggle="pill" href="#v-pills-url" role="tab" aria-controls="v-pills-address" aria-selected="false">URL</a>
          <a class="nav-link btn-light" id="v-pills-number-tab" data-toggle="pill" href="#v-pills-number" role="tab" aria-controls="v-pills-address" aria-selected="false">Number</a>
          <a class="nav-link btn-light" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-address" aria-selected="false">Notes</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active text-center mt-5" id="v-pills-url" role="tabpanel" aria-labelledby="v-pills-url-tab">
            {% if item.url %}
            <p><a href="{{ item.url }}" class="btn btn-lg btn-light btn-outline-dark" target="_blank"><i class="text-muted fas fa-external-link-alt fa-2x"></i></a></p>
            <p class="badge badge-primary">{{ item.url }}</p>
            {% endif %}
          </div>
          <div class="tab-pane fade show text-center mt-5" id="v-pills-number" role="tabpanel" aria-labelledby="v-pills-number-tab">
            {% if item.number %}
            <p class="display-4">{{ item.number }}</p>
            {% endif %}
          </div>
          <div class="tab-pane fade show" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
            {% for note in item.note.all %}
            <div class="card">
              <div class="card-header">
                {{ note.title|default:'Note' }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{ note.text|safe }}</p>
                </blockquote>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% endblock %}
