          <table data-toggle="table" data-classes="table bg-light">
            <thead>
              <tr>
                <th data-field="counter" data-width="50" data-sortable="true">#</th>
                <th data-field="active" data-width="50" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th>
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                <th data-field="number" data-sortable="true">Number</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items.accounts %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><form action="{% url 'account_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                <td>
                  <a style="text-decoration: none" href="{% url 'account_view' item.pk %}">{{ item.name|default:'Account' }}</a>
                  <a href="{% url 'account_edit' item.pk %}"><i class="fas fa-edit"></i></a>
                  {% if item.url %}<a href="{{ item.url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  {% if item.note.all %}<i class="far fa-sticky-note"></i>{% endif %}
                </td>
                <td>{{ item.name|default:'' }}</td>
                <td>{{ item.number|default:'' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
