{% extends 'base.html' %}
{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-10">
        <h1>Company</h1>
      </div>
      <div class="col-2 ml-auto">
        <a class="btn btn-lg btn-block btn-success" href="{% url 'company_edit' %}">Edit</a>
      </div>
    </div>
{% include 'settings_nav.html' %}
    <div class="row my-5">
      <div class="col-12 card text-dark">
{% include 'item_table.html' %}
      </div>
    </div>
  </div>

{% endblock %}
