          <table data-toggle="table" data-classes="table bg-light">
            <thead>
              <tr>
                <th data-field="counter" data-width="50" data-sortable="true">#</th>
                <th data-field="active" data-width="50" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th>
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th data-field="last-name" data-sort-name="last-name" data-sortable="true">Last Name</th>
                <th data-field="first-name" data-sort-name="first-name" data-sortable="true">First Name</th>
                <th data-sortable="true">Email</th>
                <th data-sortable="true">Client</th>
                <th data-sortable="true">Title</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items.contacts %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active" {% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                <td>{{ item.last_name|default:'' }}</td>
                <td>{{ item.first_name|default:'' }}</td>
                <td>{% if item.email %}<a href="{% url 'contact_view' item.pk %}">{{ item.email }}</a> <a href="{% url 'contact_edit' item.pk %}"><i class="fas fa-pencil-alt" style="vertical-align: middle"></i></a>{% else %}<a href="{% url 'contact_view' item.pk %}">Email@Address</a>{% endif %}</td>
                <td>{% if item.client %}<a href="{% url 'client_view' item.client.pk %}">{{ item.client }}</a> <a href="{% url 'client_edit' item.client.pk %}"><i class="fas fa-pencil-alt" style="vertical-align: middle"></i></a>{% endif %}</td>
                <td>{{ item.title|default:'' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
