<h2>Tools</h2>
  <div class="card">
    <div> 
      <div class="card-body mx-auto">
        <div class="row border-top">
          <div class="col-md-3 text-center"> 
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'client_index' %}"><i class="fas fa-building fa-5x"></i><p class="">Clients</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'invoice_index' %}"><i class="fas fa-file-invoice-dollar fa-5x"></i><p class="">Invoices</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'project_index' %}"><i class="fas fa-project-diagram fa-5x"></i><p class="">Projects</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'report_index' %}"><i class="fas fa-chart-line fa-5x"></i><p class="">Reports</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'time_index' %}"><i class="fas fa-user-clock fa-5x"></i><p class="">Times</p></a>
          </div>
        </div>
        <div class="row border-top">
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'contact_index' %}"><i class="fas fa-address-card fa-5x"></i><p class="">Contacts</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'estimate_index' %}"><i class="fa fa-file-invoice fa-5x"></i><p class="">Estimates</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'note_index' %}"><i class="fas fa-file-alt fa-5x"></i><p class="">Notes</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'task_index' %}"><i class="fa fa-tasks fa-5x"></i><p class="">Tasks</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'user_index' %}"><i class="fa fa-user-cog fa-5x"></i><p class="">Users</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'order_index' %}"><i class="fa fa-tasks fa-5x"></i><p class="">Work Orders</p></a>
          </div>
        </div>
        <div class="row border-top">
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="/api" target="_blank"><i class="fa fa-terminal fa-5x"></i><p class="">API</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'admin:index' %}" target="_blank"><i class="fab fa-python fa-5x"></i><p class="">Admin</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="https://github.com/aclark-net/aclark-net-1" target="_blank"><i class="fab fa-github fa-5x"></i><p class="">GitHub</p></a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'app_view' %}"><i class="fas fa-tools fa-5x"></i><p class="">Settings</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
