<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Work
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-2" style="text-align: center">
            <a href="{% url 'invoice_index' %}"><i class="fas fa-file-invoice fa-5x text-dark"></i><p class="mt-1 text-dark">Invoices</p></a>
          </div>
          <div class="col-2 offset-1" style="text-align: center">
            <a href="{% url 'time_index' %}"><i class="fas fa-business-time fa-5x text-dark"></i><p class="mt-1 text-dark">Times</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'project_index' %}"><i class="fas fa-toolbox fa-5x text-dark"></i><p class="mt-1 text-dark">Projects</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'client_index' %}"><i class="fas fa-building fa-5x text-dark"></i><p class="mt-1 text-dark">Clients</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Client
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-2 offset-1" style="text-align: center">
            <a href="{% url 'contact_index' %}"><i class="fas fa-address-card fa-5x text-dark"></i><p class="mt-1 text-dark">Contacts</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'estimate_index' %}"><i class="fa fa-file-pdf fa-5x text-dark"></i><p class="mt-1 text-dark">Estimates</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Manage
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-2 offset-1" style="text-align: center">
            <a href="{% url 'note_index' %}"><i class="fas fa-sticky-note fa-5x text-dark"></i><p class="mt-1 text-dark">Notes</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'task_index' %}"><i class="fa fa-tasks fa-5x text-dark"></i><p class="mt-1 text-dark">Tasks</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'report_index' %}"><i class="fas fa-chart-line fa-5x text-dark"></i><p class="mt-1 text-dark">Reports</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'settings_app' %}"><i class="fa fa-cog fa-5x text-dark"></i><p class="mt-1 text-dark">Settings</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="{% url 'user_index' %}"><i class="fa fa-users fa-5x text-dark"></i><p class="mt-1 text-dark">Users</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Develop
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-2 offset-1" style="text-align: center">
            <a href="{% url 'admin:index' %}" target="_blank"><i class="fab fa-python fa-5x text-dark"></i><p class="mt-1 text-dark">Admin</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="/api" target="_blank"><i class="fa fa-code fa-5x text-dark"></i><p class="mt-1 text-dark">API</p></a>
          </div>
          <div class="col-2" style="text-align: center">
            <a href="https://github.com/aclark-net/aclark-net-1" target="_blank"><i class="fab fa-github fa-5x text-dark"></i><p class="mt-1 text-dark">GitHub</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
