{% extends 'base.html' %}
{% load static %}
{% block app_graph %}
{% endblock %}
{% block head %}
    <style>
      .nav-link {
        border-bottom: none !important;
      }
    </style>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dashboard' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client_index' %}">
              <span data-feather="users"></span>
              Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_index' %}">
              <span data-feather="users"></span>
              Contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">
              <span data-feather="folder"></span>
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'note_index' %}">
              <span data-feather="folder"></span>
              Notes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_index' %}">
              <span data-feather="users"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report_index' %}">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invoice_index' %}">
              <span data-feather="layers"></span>
              Invoices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estimate_index' %}">
              <span data-feather="layers"></span>
              Estimates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'time_index' %}">
              <span data-feather="clock"></span>
              Times
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_index' %}">
              <span data-feather="activity"></span>
              Tasks
            </a>
          </li>
          {% endif %}
        </ul>
{% if request.user.is_staff %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="{% url 'report_edit' %}">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          {% for report in reports %}
          {% if report.id %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report_view' report.id %}">
              <span data-feather="file-text"></span>
              {{ report }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
{% endif %}
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-md-0">
          <div class="btn-group mr-2">
             <a class="btn btn-sm btn-outline-dark bg-light text-dark" href="{% url 'time_edit' %}">Add Time</a>
          </div>
        </div>
      </div>
{% block dashboard %}
      {% if user.profile.dashboard_items %}
        {% for dashboard in user.profile.dashboard_items %}  <!-- https://stackoverflow.com/a/4524851/185820 -->
          {% with "dashboard_"|add:dashboard|add:".html" as dashboard_html %}
{% include dashboard_html %}
          {% endwith %}
        {% endfor %}
      {% else %}
        <div class="alert alert-primary" role="alert">
          Please <a href="{% url 'user_edit' user.pk %}">edit your profile</a> to add dashboard items.
        </div>
      {% endif %}
      </div>
{% endblock %}
    </main>
  </div>
</div>
{% else %}
{% include 'signin.html' %}
{% endif %}
{% endblock %}
            <a class="btn btn-outline-dark" style="text-decoration: none" href="/api" target="_blank"><i class="fa fa-terminal fa-3x p-1"></i><p class="p-0 m-0">API</p></a>
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'admin:index' %}" target="_blank"><i class="fab fa-python fa-3x p-1"></i><p class="p-0 m-0">Admin</p></a>
            <a class="btn btn-outline-dark" style="text-decoration: none" href="https://github.com/aclark-net/aclark-net-1" target="_blank"><i class="fab fa-github fa-3x p-1"></i><p class="p-0 m-0">GitHub</p></a>
            <a class="btn btn-outline-dark" style="text-decoration: none" href="{% url 'app_view' %}"><i class="fas fa-tools fa-3x p-1"></i><p class="p-0 m-0">Settings</p></a>
{% if request.user.is_staff %}
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
{% endif %}
