{% extends 'base.html' %}
{% block head %}
    <style>
      .nav-link {
        border-bottom: none !important;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}

{% if request.user.is_staff %}
<nav class="navbar navbar-dark bg-light flex-md-nowrap p-0 shadow">
  <input class="form-control form-control-dark offset-md-2 border-left" type="text" placeholder="Search" aria-label="Search">
</nav>
{% endif %}

<div class="container-fluid">
  <div class="row"> 
    <nav class="col-md-2 d-none d-md-block bg-light sidebar p-0">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if home_nav %}active{% endif %}" href="{% url 'dashboard' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if company_nav %}active{% endif %}" href="{% url 'company_index' %}">
              <i class="far fa-building mr-1"></i>
              Companies <span class="sr-only">(current)</span>
            </a>
          </li>
{% if request.user.is_staff %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Tools</span>
          </h6>
          <li class="nav-item">
            <a class="nav-link {% if account_nav %}active{% endif %}" href="{% url 'account_index' %}">
              <span data-feather="users"></span>
              Accounts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if client_nav %}active{% endif %}" href="{% url 'client_index' %}">
              <span data-feather="users"></span>
              Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if project_nav %}active{% endif %}" href="{% url 'project_index' %}">
              <span data-feather="folder"></span>
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if invoice_nav %}active{% endif %}" href="{% url 'invoice_index' %}">
              <span data-feather="file"></span>
              Invoices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if estimate_nav %}active{% endif %}" href="{% url 'estimate_index' %}">
              <span data-feather="file"></span>
              Estimates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if contact_nav %}active{% endif %}" href="{% url 'contact_index' %}">
              <span data-feather="users"></span>
              Contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if note_nav %}active{% endif %}" href="{% url 'note_index' %}">
              <span data-feather="file-text"></span>
              Notes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if task_nav %}active{% endif %}" href="{% url 'task_index' %}">
              <span data-feather="activity"></span>
              Tasks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if time_nav %}active{% endif %}" href="{% url 'time_index' %}">
              <span data-feather="clock"></span>
              Times
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if user_nav %}active{% endif %}" href="{% url 'user_index' %}">
              <span data-feather="users"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if service_nav %}active{% endif %}" href="{% url 'service_index' %}">
              <span data-feather="activity"></span>
              Services
            </a>
          </li>
{% endif %}
        </ul>
{% if request.user.is_staff %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a class="text-muted" style="text-decoration: none" href="{% url 'report_index' %}">Saved reports</a>
          <a class="d-flex align-items-center text-muted" href="{% url 'report_edit' %}">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
{% endif %}
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m-0 p-0 mb-5">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h1 class="h2">Dashboard</h1>
        {% if home_nav %}
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-dark" href="{% url 'time_edit' %}"><span data-feather="clock"></span>&nbsp;Add Time</a>
          </div>
        </div>
        {% endif %}
      </div>
{% block dashboard %}
{% include 'total_table.html' %}
{% with items=items.times %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'time_index_table.html' %}
{% with items=items.times %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'total_table.html' %}
{% endblock %}

    </main>
  </div>
</div>

{% else %}

{% include 'signin.html' %}

{% endif %}

{% endblock %}


{% block script %}

<script src="https://cdn.tiny.cloud/1/0hiakgt5bcrg78741ummffngymeatxilifg95oc473nrtvs4/tinymce/5/tinymce.min.js"></script>
  <script>
  tinymce.init({
    selector: '.tinymce',
    plugins: 'code print preview fullpage paste searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern help',
    toolbar: 'formatselect | bold italic strikethrough forecolor backcolor permanentpen formatpainter | link image media pageembed | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent | removeformat | addcomment',
    height: 400
  });
  </script>
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
{% endblock %}
