{% extends 'base.html' %}
{% block head %}
    <style>
      .nav-link {
        border-bottom: none !important;
      }
    </style>
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}

{% if request.user.is_staff %}
<nav class="navbar navbar-dark bg-light flex-md-nowrap p-0 shadow">
  <input class="form-control form-control-dark offset-md-2 border-left" type="text" placeholder="Search" aria-label="Search">
</nav>
{% endif %}

<div class="container-fluid">
  <div class="row"> 
    <nav class="col-md-2 d-none d-md-block bg-light sidebar p-0">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active text-dark" href="{% url 'dashboard' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
{% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client_index' %}">
              <span data-feather="users"></span>
              Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_index' %}">
              <span data-feather="users"></span>
              Contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">
              <span data-feather="folder"></span>
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'note_index' %}">
              <span data-feather="folder"></span>
              Notes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_index' %}">
              <span data-feather="users"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report_index' %}">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invoice_index' %}">
              <span data-feather="layers"></span>
              Invoices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estimate_index' %}">
              <span data-feather="layers"></span>
              Estimates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'time_index' %}">
              <span data-feather="clock"></span>
              Times
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_index' %}">
              <span data-feather="activity"></span>
              Tasks
            </a>
          </li>
{% endif %}
        </ul>
{% if request.user.is_staff %}

        {% if reports.items.reports %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="{% url 'report_edit' %}">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        {% endif %}
        <ul class="nav flex-column mb-2">
{% for report in reports.items.reports %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report_view' report.id %}">
              <span data-feather="file-text"></span>
              {{ report.name|default:'Untitled report' }}
            </a>
          </li>
{% endfor %}
        </ul>
{% endif %}
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m-0 p-0 mb-5">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

{% if request.user.is_staff %}
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-dark">Share</button>
            <button type="button" class="btn btn-sm btn-outline-dark">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
{% endif %}
        </div>
      </div>

{% block dashboard %}
      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <a class="btn btn-lg btn-outline-dark" href="{% url 'time_edit' %}">Add Time</a>
          </div>
        </div>
      </div>

      {% if user.profile.dashboard_items %}
        {% for dashboard in user.profile.dashboard_items %}  <!-- https://stackoverflow.com/a/4524851/185820 -->
          {% with "dashboard_"|add:dashboard|add:".html" as dashboard_html %}
{% include dashboard_html %}
          {% endwith %}
        {% endfor %}
      {% else %}
      <p class="py-3">Please <a href="{% url 'user_edit' user.pk %}">select dashboard items</a>.</p>
      {% endif %}

{% endblock %}

    </main>
  </div>
</div>

{% else %}

{% include 'signin.html' %}

{% endif %}

{% endblock %}


{% block script %}

<script src="https://cdn.tiny.cloud/1/0hiakgt5bcrg78741ummffngymeatxilifg95oc473nrtvs4/tinymce/5/tinymce.min.js"></script>
  <script>
  tinymce.init({
    selector: '.tinymce'
  });
  </script>

{% endblock %}
