{% load staticfiles %}
        <li class="nav-item dropdown px-1">
          <a class="{{ nav_css }} nav-link" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
          <div style="text-transform: capitalize;" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
            {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'login'  %}"><i class="fas fa-sign-in-alt"></i> Sign in</a>{% endif %}
            {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fas fa-sign-in-alt"></i> Login with Google</a>{% endif %}
            {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>{% endif %}
            {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'user_view' request.user.pk %}"><i class="fa fa-user"></i> Profile</a>{% endif %}
            {% if is_staff %}<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'invoice_index' %}"><i class="fas fa-file-invoice"></i> Invoices</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'time_index' %}"><i class="fas fa-business-time"></i> Times</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'project_index' %}"><i class="fas fa-toolbox"></i> Projects</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'client_index' %}"><i class="fas fa-building"></i> Clients</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'contact_index' %}"><i class="fas fa-address-card"></i> Contacts</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'estimate_index' %}"><i class="fa fa-file-pdf"></i> Estimates</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'note_index' %}"><i class="fas fa-sticky-note"></i> Notes</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'report_index' %}"><i class="fas fa-chart-line"></i> Reports</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'app_view' %}"><i class="fa fa-cog"></i> Settings</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'task_index' %}"><i class="fa fa-tasks"></i> Tasks</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'user_index' %}"><i class="fa fa-users"></i> Users</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="/api" target="_blank"><i class="fa fa-code"></i> API</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><i class="fab fa-python"></i> Admin</a>{% endif %}
            {% if is_staff %}<a class="dropdown-item" href="https://github.com/aclark-net/aclark-net-1" target="_blank"><i class="fab fa-github"></i> GitHub</a>{% endif %}
            {% if not request.user.is_anonymous  %}<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'home' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>{% endif %}
          </div>
        </li>
