{% extends 'db/base.html' %}
{% load l10n %}
{% block content %}
          <div class="row">
            <div class="col-10">
              <h1 style="border-bottom: none;"><a class="text-dark" href="{% url 'invoice_index' %}">Invoices</a> <i class="fa fa-arrow-right"></i> {{ item.name|default:'Invoice' }} {% if item.project %}<a href="{% url 'project_view' item.project.pk %}"><i class="fa fa-briefcase"></i></a>{% endif %}</h1>
            </div>
            <div class="col-md-12 mb-3 mr-auto">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'invoice_edit' pk=item.pk %}">Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'time_edit' %}?invoice={{ item.pk|unlocalize }}"><i class="fa fa-plus"></i> Time</a>
                  <a class="dropdown-item" href="{% url 'note_edit' %}?invoice={{ item.pk }}"><i class="fa fa-plus"></i> Note</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-invoiced-true-modal-sm"><i class="far fa-check-square"></i> Invoiced</a>
                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-invoiced-false-modal-sm"><i class="far fa-square"></i> Invoiced</a>
                  <div class="dropdown-divider"></div>
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% include 'sent_form.html' %}
{% include 'table_invoice.html' %}
{% endblock %}
