{% load l10n %}
{% load humanize %}
          <table data-toggle="table" data-classes="table bg-light">
                  <thead>
                    <tr>
                      <th data-field="counter" data-width="50" data-sortable="true">#</th>
                      <th data-field="invoiced" data-width="50" data-sortable="true"><i class="fas fa-thumbs-up"></i></th>
                      <th data-sort-name="hidden-issue-date" data-width="50" data-sortable="true">Issue Date</th>
                      <th data-field="hidden-issue-date" data-sortable="true" data-visible="false">Hidden Issue Date</th>
                      <th data-field="amount" data-width="50" data-sort-name="hidden-amount" data-sortable="true">Amount</th>
                      <th data-field="hidden-amount" data-sortable="true" data-visible="false">Hidden Amount</th>
                      <th data-sort-name="hidden-client" data-sortable="true" data-visible="false">Client</th>
                      <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                      <th data-field="project" data-sortable="true" data-visible="false">Project</th>
                      <th data-sort-name="subject" data-sortable="true" data-visible="true">Subject</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in items.invoices %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{% if item.last_payment_date or item.accepted_date %}<i data-toggle="tooltip" data-placement="right" title="Invoice sent" class="fa fa-check"></i>{% endif %}</td>
                      <td>{{ item.issue_date|date:'Y-m-d'|default:'' }}</td>
                      <td>{{ item.issue_date|date:'U'|default:'' }}</td>
                      <td>{% if item.amount %}{% endif %}{{ item.amount|default:'0.00'|intcomma }}</td>
                      <td>{{ item.amount|unlocalize|default:'' }}</td>
                      {% if item.client %}<td><a href="{% url 'client_view' item.client.pk %}">{{ item.client.name|default:'Client' }}</a> <a href="{% url 'client_edit' item.client.pk %}"><i data-toggle="tooltip" title="Edit" class="fas fa-pencil-alt" style="vertical-align: middle"></i></a></td>{% else %}<td>Client</td> {% endif %}
                      <td>{{ item.client|default:'Client' }}</td>
                      {% if item.project %}<td><a href="{% url 'project_view' item.project.pk %}">{{ item.project.name|default:'' }}</a> <a href="{% url 'project_edit' item.project.pk %}"><i data-toggle="tooltip" title="Edit" class="fas fa-pencil-alt" style="vertical-align: middle"></i></a></td>{% else %}<td>Project</td>{% endif %}
                      <td><a href="{% url view_url item.pk %}">{{ item.subject|default:'Subject' }}</a> <a href="{% url edit_url item.pk %}"><i data-toggle="tooltip" title="Edit" class="fas fa-pencil-alt" style="vertical-align: middle"></i></a> <a href="{% url 'time_edit' %}?{{ item_type }}={{ item.pk }}"><i data-toggle="tooltip" title="Add time" class="fa fa-plus" style="vertical-align: middle"></i></a></td> <!-- https://stackoverflow.com/a/18541484/185820 -->
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
