          <table data-toggle="table">
            <thead>
              <tr>
                <th data-valign="top" data-sortable="true">#</th>
                <th data-valign="top" data-sort-name="hidden-active" data-sortable="true" data-valign="top" {% if active %} data-visible="false" {% endif %}>Active</th> 
                <th data-valign="top" data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th data-valign="top" data-sortable="true">Title</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items.notes %}
              <tr>
                <td>{{ forloop.counter }}</a></td>
                <td><form action="{% url 'note_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                <td><a class="text-{{ icon_color }}" href="{% url 'note_view' item.pk %}">{{ item.title|default:'Note' }}</a> <a class="text-{{ icon_color }}" href="{% url 'note_edit' item.pk %}"><i class="fas fa-pencil-alt fa-{{ icon_size }}" style="vertical-align: middle"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
