{% extends 'dashboard.html' %}
{% block dashboard %}
  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <h1>Notes</h1>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12 card text-dark">
{% with items=items.notes %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'note_table.html' %}
{% with items=items.notes %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
