          <!-- https://stackoverflow.com/a/1070414/185820 -->
          <div class="row px-5 m-3">
            <div class="col-md-7 mx-auto border rounded btn-outline-dark bg-light text-dark">
              {% if items.paginator %} <!-- Paginated -->
              Items {{ items.start_index }} to {{ items.end_index }} of {{ items.paginator.count }}
              {% if items.has_previous %} <a class="btn" href="?page=1"><i class="fa fa-step-backward"></i></a> <a class="btn" href="?page={{ items.previous_page_number }}"><i class="fa fa-chevron-circle-left"></i></a> {% else %} <button class="btn" disabled><i class="fa fa-step-backward"></i></button> <button class="btn" disabled><i class="fa fa-chevron-circle-left"></i></button> {% endif %}
              Page {{ items.number }} of {{ items.paginator.num_pages }}
              {% if items.has_next %} <a class="btn" href="?page={{ items.next_page_number }}"><i class="fa fa-chevron-circle-right"></i></a> <a class="btn" href="?page={{ items.paginator.num_pages }}"><i class="fa fa-step-forward"></i></a> {% else %} <button class="btn" disabled><i class="fa fa-chevron-circle-right"></i></button> <button class="btn" disabled><i class="fa fa-step-forward"></i></button>
              {% endif %}
              <a class="btn" href="?paginated=false">Show all</a>
              {% else %}<!-- Single page -->
              {% if items.count %}Items 1 to {{ items.count }} of {{ items.count }}{% else %}Items 0 to {{ items.count }} of {{ items.count }}{% endif %}
              <button class="btn" disabled><i class="fa fa-step-backward"></i></button> <button class="btn" disabled><i class="fa fa-chevron-circle-left"></i></button> <span>Page 1 of 1</span> <button class="btn" disabled><i class="fa fa-chevron-circle-right"></i></button> <button class="btn" disabled><i class="fa fa-step-forward"></i></button>
              <a class="btn m-1" href="?paginated=true">Show paginated</a>
              {% endif %}
            </div>
          </div>
