{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}
{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-10">
        <h1><a class="text-dark" href="{% url 'project_index' %}">Projects</a> &rarr; {{ item.name|default:'Project Name' }}</h1>
      </div>
      <div class="col-2">
        <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
        <div class="btn-group dropdown float-right">
          <a class="btn btn-lg btn-success" href="{% url 'project_edit' pk=item.pk %}">Edit</a>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#menu-headers -->
{% include 'actions.html' %}
          </div>
        </div>
      </div>
    </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2><a href="{% url 'estimate_index' %}" class="text-dark">Estimates</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-1 card text-dark">
      {% with items=items.estimates view_url='estimate_view' edit_url='estimate_edit' item_type='estimate' %}
{% include 'invoice_table.html' %}
      {% endwith %}
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2><a href="{% url 'invoice_index' %}" class="text-dark">Invoices</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-1 card text-dark">
      {% with items=items.invoices view_url='invoice_view' edit_url='invoice_edit' item_type='invoice' %}
{% include 'invoice_table.html' %}
      {% endwith %}
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2>Notes</h2>
{% include 'note_table.html' %}
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2><a href="{% url 'user_index' %}" class="text-dark">Team</a></h2>
      </div>
      <div class="col-12 py-1 card text-dark">
      {% with users=item.hours.users %}
{% include 'user_table.html' %}
      {% endwith %}
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2><a href="{% url 'user_index' %}" class="text-dark">Times</a></h2>
      </div>
      <div class="col-12 py-1 card text-dark">
{% include 'time_table.html' %}
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row my-5">
      <div class="col-12 py-1 card text-dark">
        <h2>Totals</h2>
{% include 'total_table.html' %}
      </div>
    </div>
  </div>
{% endblock %}
