{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block dashboard %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Note</strong> Only active users can be added to Project &rarr; team.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post">{% csrf_token %}
          {{ form|crispy }}
{% include 'save.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
{% include 'tinymce.html' %}
{% endblock %}
