         <div class="row">
            <div class="col-3 offset-9 mt-3">
              {% if total_hours_by_proj %}
              <h5>Project</h5>
              <ul style="list-style: none">
                {% for project in total_hours_by_proj.values %}
                  <li><strong><i class="fa fa-arrow-right"></i> {{ project.name }}</strong>: {{ project.hours }}</li>
                  <li><ul style="list-style: none">
                    {% for user, time in project.users.items %}
                    <li>{{ user }}: {{ time }}</li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
              <strong>Total:</strong> {{ total_hours }}
              {% endif %}
            </div>
          </div>
