{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}
{% block content %}
          <div class="row">
            <div class="col-10">
              <h1 style="border-bottom: none;"><a class="text-dark" href="{% url 'project_index' %}">Projects</a> <i class="fa fa-arrow-right"></i> {{ item.name|default:'Project Name' }}</h1>
            </div>
            <div class="col-2 mb-3">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'project_edit' pk=item.pk %}">Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#menu-headers -->
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 py-1">
              <table data-toggle="table" data-sort-name="hidden-color" data-classes="table table-no-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" {% if active %}data-visible="false"{% endif %} data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                    <th data-field="hidden-color" data-sortable="true" data-visible="false">Hidden Color</th>
                    <th data-field="client" data-sort-name="hidden-client" data-sortable="true" data-visible="true">Client</th>
                    <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                    <th data-sortable="true" data-visible="true">Task</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-{{ item.task.color }}"> 
                    <td><form action="{% url 'project_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"> <input type="checkbox" value="on" name="checkbox-active" {% if item.active %} checked {% endif %} onChange="this.form.submit()"> </form></td>
                    <td>{{ item.active }}</td>
                    <td>{{ item.name|default:'' }}</td>
                    <td>{{ item.task.color|default:'' }}</td>
                    {% if item.client.pk %}<td><a href="{% url 'client_view' item.client.pk %}">{{ item.client }}</a></td>{% else %}<td>{{ item.client|default:'' }}</td>{% endif %}
                    <td>{{ item.client|default:'' }}</td>
                    {% if item.task %}<td><a href="{% url 'task_view' item.task.pk %}">{{ item.task.name }}</a></td>{% else %}<td>{{ task.name }}</td>{% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12 py-1">
              <h2><a href="{% url 'estimate_index' %}" class="text-dark">Estimates</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 py-1">
{% with items=items.estimates view_url='estimate_view' edit_url='estimate_edit' item_type='estimate' %}
{% include 'invoice_table.html' %}
{% endwith %}
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12 py-1">
              <h2><a href="{% url 'invoice_index' %}" class="text-dark">Invoices</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 py-1">
{% with items=items.invoices view_url='invoice_view' edit_url='invoice_edit' item_type='invoice' %}
{% include 'invoice_table.html' %}
{% endwith %}
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12">
              <h2>Notes</h2>
{% include 'note_table.html' %}
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12">
              <h2><a href="{% url 'user_index' %}" class="text-dark">Team</a></h2>
            </div>
            <div class="col-12 py-1">
{% with users=item.hours.users %}
{% include 'user_table.html' %}
{% endwith %}
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12">
              <h2><a href="{% url 'user_index' %}" class="text-dark">Times</a></h2>
            </div>
            <div class="col-12 py-1">
{% include 'time_table.html' %}
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-12">
              <h2>Totals</h2>
{% include 'total_table.html' %}
            </div>
          </div>
{% endblock %}
