{% extends 'dashboard.html' %}
{% block dashboard %}
    <div class="row my-3">
      <div class="col-12">
        <div class="text-right">
          <div class="btn-group dropdown">
            <a class="btn btn-lg btn-outline-dark rounded" href="{% url 'report_edit' pk=item.pk %}">Edit</a>
            <div class="dropdown-menu">
{% include 'actions.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% include 'delete_form.html' %}
{% with cost=item.cost gross=item.gross net=item.net %}
{% include 'total_table.html' %}
{% endwith %}
{% with items=items.invoices view_url='invoice_view' edit_url='invoice_edit' item_type='invoice' %}
{% include 'invoice_table.html' %}
{% endwith %}
{% with cost=item.cost gross=item.gross net=item.net %}
{% include 'total_table.html' %}
{% endwith %}
{% endblock %}
