{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block dashboard %}

  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <h1>Report</h1>
        <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-lg btn-primary" type="submit" value="Save Report">
        <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
        </form>
      </div>
    </div>
  </div>
{% endblock %}
