{% extends 'dashboard.html' %}
{% block dashboard %}
{% include 'search.html' %}
    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <a class="btn btn-lg btn-outline-dark" href="{% url 'task_edit' %}">Add Task</a>
        </div>
      </div>
    </div>
{% with items=items.tasks %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'task_table.html' %}
{% with items=items.tasks %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
