       <table data-toggle="table" data-classes="table-sm table-bordered">
          <thead>
            <tr>
              {% if request.user.is_staff %}<th data-field="invoiced" data-sortable="true">Sent</th>{% endif %}
              <th data-field="date" data-sortable="true">Date</th>
              <th data-field="project" data-sortable="true">Project</th>
              <th data-field="hours" data-sortable="true">Hours</th>
              <th data-field="log" data-sortable="true">Log</th>
              {% if request.user.is_staff %}
              <th data-field="client" data-sortable="true">Client</th>
              <th data-field="task" data-sortable="true">Task</th>
              <th data-field="invoice" data-sortable="true">Invoice</th>
              <th data-field="estimate" data-sortable="true">Estimate</th>
              <th data-field="user" data-sortable="true">User</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% if request.user.is_staff %}<td>{% if item.invoiced %}<i data-toggle="tooltip" data-placement="right" title="Invoice Paid" class="fa fa-check"></i>{% endif %}</td>{% endif %}
              <td>{{ item.date|date:'Y-m-d'|default:'' }}</td>
              <td>{{ item.project|default:'' }}</td>
              <td>{{ item.hours|default:'' }}</td>
              <td>{{ item.log|default:'' }}</td>
              {% if request.user.is_staff %}
              <td>{{ item.client|default:'' }}</td>
              {% if item.task %}<td><a href="{% url 'task_view' item.task.pk %}">{{ item.task|default:'' }}</a></td>{% else %}<td></td>{% endif %}
              {% if item.invoice %}<td><a href="{% url 'invoice_view' item.invoice.pk %}">{{ item.invoice.subject|default:item.invoice }}</a></td>{% else %}<td></td>{% endif %}
              {% if item.estimate %}<td><a href="{% url 'estimate_view' item.estimate.pk %}">{{ item.estimate.pk|default:'' }}</a></td>{% else %}<td></td>{% endif %}
              <td>{{ item.user|default:'' }}</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
