{% extends 'db/base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-10">
              <h1>Profile</h1>
              <h4 style="border-bottom: none;">{% if is_staff %}<a class="text-dark" href="{% url 'user_index' %}">Users</a>{% else %}Users{% endif %} <i class="fa fa-arrow-right"></i> {{ item.get_full_name|default:item.username }}</h4>
            </div>                
            <div class="col-md-2">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group pull-right">
                <a class="btn btn-lg btn-success" href="{% url 'user_edit' pk=item.pk %}">Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'geo-loc' %}"><i class="fa fa-globe"></i> Geolocate me</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pb-3 pt-3">
{% include 'item_table.html' %}
            </div>
          </div>
{% endblock %}
