{% extends 'dashboard.html' %}

{% block app_graph %}
{% endblock %}

{% block dashboard %}

  <div class="container">
    <div class="row my-5">
      <div class="col-10">
        <h1>{% if request.user.is_staff %}<a class="text-dark" href="{% url 'user_index' %}">Users</a>{% else %}Users{% endif %} &rarr; {{ item.get_full_name|default:item.username }}</h1>
      </div>
      <div class="col-2">
        <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
        <a class="btn btn-lg btn-success" href="{% url 'user_edit' pk=item.pk %}">Edit</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
{% include 'item_table.html' %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
