{% extends 'dashboard.html' %}
{% block app_graph %}
{% endblock %}
{% block dashboard %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
        <a class="btn btn-lg btn-primary" href="{% url 'user_edit' pk=item.pk %}">Edit</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
{% include 'item_table.html' %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
