{% extends 'base.html' %}

{% block add_graph %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-12"> 
        <h1><a class="text-dark" href="{% url 'dashboard' %}">Dashboard</a> &rarr; Users</h1>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12 card text-dark"> 
{% with users=items.users %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% include 'user_table.html' %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% endwith %}
      </div>
    </div>
  </div>

{% endblock %}
