{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Users</h1>
            </div>
            <div class="col-md-3">
              <button class="btn btn-block btn-lg btn-success" href="{% url 'user_edit' %}" disabled>Add User</button>
            </div>
          </div>
{% with users=items.users %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% include 'user_table.html' %}
{% include 'search.html' %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
