{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row my-5">
        <div class="col-12">
          <h1>{% if is_staff %}<a class="text-dark" href="{% url 'user_index' %}">Users</a>{% else %}Users{% endif %} &rarr; <a class="text-dark" href="{% url 'user_view' pk=item.user.pk %}">{{ item.user.get_full_name|default:item.user }}</a> &rarr; Edit</h1>
          <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-lg btn-success" type="submit" value="Save User">
            <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
{% include 'tinymce.html' %}
{% endblock %}
