Django==2.0.7
Faker==0.8.16
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
geographiclib==1.49
geoip2==2.9.0
idna==2.7
maxminddb==1.4.1
psycopg2==2.7.5
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
text-unidecode==1.2
urllib3==1.23
