{% extends 'base.html' %}
{% load static %}

{% block logo %}
    <a class="navbar-brand mr-auto" href="{% url 'dashboard' %}">
      <img src="{% static 'aclarknet-logo.png' %}">
    </a>
{% endblock %}

{% block nav %}
{% include 'db/nav.html' %}
{% endblock %}

{% block db_start %}
{% if not request.user.is_anonymous %} <div class="bg-white text-dark p-3 col-md-10 offset-md-1 mt-5 rounded mt-5"> {% endif %}
{% endblock %}

{% include 'search.html' %}

{% block content %}
  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">

          <h1 class="block-titleData frequency">Successfully building web applications with Python&trade; since 2004.</h1>
          <p class="lead mb-4 text-muted">Create professional web applications efficiently, effectively and economically.</p>
          <a class="btn btn-primary btn-lg" href="{% url 'contact' %}">Contact Us</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block db_stop %}
{% if not request.user.is_anonymous %}</div> {% endif %}
{% endblock %}
