{% load staticfiles %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">  <!-- http://stackoverflow.com/a/25044880/185820 -->
          <li class="nav-item dropdown">
            <a class="bg-dark dropdown-toggle nav-link rounded" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle text-light"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'login'  %}"><i class="fas fa-sign-in-alt"></i> Sign in</a>{% endif %}
              {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fas fa-sign-in-alt"></i> Login with Google</a>{% endif %}
              {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>{% endif %}
              {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'user_view' request.user.pk %}"><i class="fa fa-user"></i> Profile</a>{% endif %}

{% if false %} <!-- Moved to tools dashboard -->
              {% if is_staff %}
              <a class="dropdown-item" href="{% url 'settings_app' %}"><i class="fa fa-cog"></i> Settings</a>
              <a class="dropdown-item" href="{% url 'user_index' %}"><i class="fa fa-users"></i> Users</a>
              <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><i class="fab fa-python"></i> Admin</a>
              <a class="dropdown-item" href="/api" target="_blank"><i class="fa fa-code"></i> API</a>
              <a class="dropdown-item" href="https://github.com/aclark-net/aclark-net-1" target="_blank"><i class="fab fa-github"></i> Code</a>
              <div class="dropdown-divider"></div>
              {% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'time_index' %}"><i class="fa fa-clock"></i> Times</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'invoice_index' %}"><i class="fa fa-file-pdf"></i> Invoices</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'project_index' %}"><i class="fa fa-tasks"></i> Projects</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'report_index' %}"><i class="fa fa-signal"></i> Reports</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'client_index' %}"><i class="fa fa-building"></i> Clients</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'contact_index' %}"><i class="fa fa-address-card"></i> Contacts</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'estimate_index' %}"><i class="fa fa-file-pdf"></i> Estimates</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'task_index' %}"><i class="fa fa-tasks"></i> Tasks</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'note_index' %}"><i class="fa fa-clipboard-check"></i> Notes</a>{% endif %}
{% endif %}
              {% if not request.user.is_anonymous  %}<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'home' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>{% endif %}
            </div>
          </li>
        </ul>
      </div>
    </nav>
