{% extends 'db/base.html' %}
{% block content %}
          {% if request.user.is_authenticated %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Dashboard</h1>
            </div>
            <div class="col-md-3"> 
              {% if request.user.is_staff %}
              <button class="btn btn-block btn-lg btn-success" href="{% url 'time_edit' %}" disabled> Add Time</button>
              {% else %}
              <a class="btn btn-block btn-lg btn-success" href="{% url 'time_edit' %}"> Add Time</a>
              {% endif %}
            </div>
          </div>
{% include 'dashboard.html' %}
          {% else %}

      <div class="row">
        <div class="col-3 mx-auto my-5">
          <h1 class="block-titleData frequency">Staff</h1>
          <p class="lead mb-4 text-muted">Please sign in to continue</p>

          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn btn-primary btn-lg" href="/db/login/google-oauth2/?next=/db/">Sign in with Google</a>

            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{% url 'login'  %}"><i class="fas fa-sign-in-alt"></i> Sign in</a>
                <a class="dropdown-item" href="{% url 'password_reset' %}"><i class="fas fa-sign-in-alt"></i> Password reset</a>

              </div>
            </div>
          </div>
        </div>
      </div>

          {% endif %}
{% endblock %}
