commands:
  install_gdal:
    command: sudo yum-config-manager --enable epel; sudo yum install -y gdal
container_commands:
  django_migrate:
    command: "django-admin.py migrate"
  django_static:
    command: "django-admin.py collectstatic"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aclark/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: aclark.settings
packages:
  yum:
    git: []
