{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block content %}
  <div class="container text-center">
    <div class="row m-5 justify-content-center">
      <div class="col-12">
        <h1>About Us</h1>
        <h3>We empower you through Python&trade; and related technologies.</h3>
      </div>
    </div>
    <div class="row m-0 justify-content-center bg-white">
      <div class="col-12 app-iphone-block block text-dark">
        <h2 class="">Who We Are</h2>
        <p>The Python&trade; programming language and open source software provide tremendous opportunities that often require an expert to fully realize. We provide the service and expertise to empower individuals and organizations to benefit from robust, versatile open source software.</p>
      </div>
      <a href="https://dcpython.org" target="_blank"><img class="col-3" src="/static/dcpython.png"></a>
      <img class="col-3" src="/static/ploneconf.png">
      <img class="col-3" src="/static/pillow-logo.png">
    </div>
  </div>
{% endblock %}

{% block marketing %}
    <div class="row m-0 justify-content-center">
      <div class="col-12 app-iphone-block block text-dark">
        <h2 class="">Technology</h2>
        <div class="row">
          <div class="col-md-4 px-4 pb-2 mb-5">
            <div class="p-2 bg-light">
              <h1><img class="border border-sm p-1 bg-white" src="/static/django-logo-positive.png" style="width: 50%;"></h1>
              <p><a style="text-decoration: none" href="https://djangoproject.com" class="text-primary" target="_blank">Django</a> is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
            </div>
          </div>
          <div class="col-md-4 px-4 pb-2 mb-5">
            <div class="p-2 bg-light">
              <h1><img class="m-2 p-1 border rounded bg-dark" src="/static/pillow-logo.png" style="width: 50%;"></h1>
              <p class="p-1"><strong>In 2010, Alex Clark created Pillow</strong>, a <a target="_blank" href="https://en.wikipedia.org/wiki/Fork_(software_development)">fork</a> of the <strong>Python Imaging Library</strong> by Fredrik Lundh.</p>

              <p>Today <a style="text-decoration: none" href="https://github.com/python-pillow" class="text-primary" target="_blank">Pillow</a> is the <i>de facto</i> Python Imaging Library, used by millions of developers &amp; companies worldwide to add image editing features to their applications; included in major Linux distributions and as of 2019, professionally supported via <a target="_blank" href="https://tidelift.com/subscription/pkg/pypi-pillow">Tidelift subscription</a>.</a>
            </div>
          </div>
          <div class="col-md-4 px-4 pb-2 mb-5">
            <div class="p-2 bg-light">
              <h1><img class="border border-sm p-1 bg-white" src="/static/plone-logo-256.png" style="width: 50%;"></h1>
              <p><a style="text-decoration: none" href="https://plone.com" class="text-primary" target="_blank">Plone</a> is a ready-to-run content management system that is built on Python. Plone is easy, flexible, and gives you a system for web content that is ideal for projects, communities, websites and intranets.</p>
            </div>
          </div>
          <div class="col-md-4 px-4 pb-2 mb-5">
            <div class="p-2 bg-light">
              <h1><img class="border border-sm p-1 bg-white" src="/static/pyramid-logo-red-horizontal.png" style="width: 50%;"></h1>
              <p><a style="text-decoration: none" href="https://trypyramid.com" class="text-primary" target="_blank">Pyramid</a> makes it easy to write web applications. You can start small with this "hello world" minimal request/response web app. This may take you far, especially while learning. As your application grows, Pyramid offers many features that make writing complex software take less effort.</p>
            </div>
          </div>
          <div class="col-md-4 px-4 pb-2 mb-5">
            <div class="p-2 bg-light">
              <h1><img class="border border-sm p-1 bg-white" src="/static/Zope.png" style="width: 50%;"></h1>
              <p><a style="text-decoration: none" href="http://www.zope.org" class="text-primary" target="_blank">Zope</a> is a community project concerned with a free and open-source, object-oriented web application server written in the Python programming language. Zope has been recognized as a Python killer app, an application that helped put Python in the spotlight.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block block-inverse app-high-praise"
         style="background-image: url(/static/startup-3.jpg);">
        <div class="container">
          <div class="row app-align-center py-3 justify-content-end">
            <div class="col-sm-7 col-md-5 py-5">
              <h6 class="text-muted text-uppercase mb-2">Testimonials</h6>
              <h2 class="mb-4">&quot;{{ testimonial.description }}&quot;</h2>
              <p class="mb-4 text-muted">{{ testimonial.name }}, {{ testimonial.title }}</p>
            </div>
          </div>
      </div>
    </div>

    <div class="block block-inverse block-secondary app-code-block">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 order-2 order-md-1">
            <h6 class="text-muted text-uppercase">Open source</h6>
            <h2>Image processing with Pillow.</h2>
            <div class="col-sm-5 d-none d-md-block">
              <img class="app-iphone" src="/static/pillow-logo.png" style="width: 100%;">
            </div>
            <p class="lead mb-4 text-muted">Alex Clark created Pillow (a fork of the popular Python Imaging Library created by Fredrik Lundh). As a result, you can benefit from professional Python Imaging Library support.</p>
            <a target="_blank" class="btn btn-secondary btn-lg btn-borderless" href="https://pillow.readthedocs.io">
              Read our docs
            </a>
          </div>
          <div class="col-md-5 ml-auto order-1 order-md-2">
<pre class="app-code">
<span>1</span> >>> from PIL import Image
<span>2</span> >>> im = Image.open("hopper.ppm")
<span>3</span>
<span>4</span> >>> from __future__ import print_function
<span>5</span> >>> print(im.format, im.size, im.mode)
<span>6</span> PPM (512, 512) RGB</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="block app-ribbon py-5">
      <div class="container text-xs-center">
        <h1 class="text-uppercase mb-5 text-white">Our Clients</h1>
        <img class="col-2" src="/static/amtrak-logo__white.svg">
        <img class="col-2" src="/static/Horizontal_RGB_294.png">
        <img class="col-2" src="/static/nasa-logo.svg">
        <img class="col-2" src="/static/National_Geographic_Logo_2016.png">
      </div>
      <div class="container text-xs-center p-5">
        <a class="btn btn-light btn-lg" href="/clients">More clients</a>
      </div>
    </div>


{% endblock %}
