{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}

<div class="block block-inverse app-header" 
     style="background-image: url({% static 'startup-1.jpg' %}); background-position: top; padding: 70px">

{% endblock %}


{% block content %}


{% endblock %}

{% block marketing %}

    <div class="block block-secondary app-iphone-block">
      <div class="container">
        <div class="row">

          <div class="col-sm-5 d-none d-md-block">
            <img class="app-iphone p-3 mb-5 border border-info" src="/static/ploneconf.png" style="width: 100%;">
            <img class="app-iphone px-3 pt-3 mb-5 border border-info" src="/static/dcpython.png" style="width: 100%;">
          </div>

          <div class="col-md-6 col-sm-12 ml-auto">
            <h6 class="text-muted text-uppercase">Who We Are</h6>
            <h2>ACLARK.NET, LLC empowers you &amp; your team with powerful open source software &amp; related technologies.</h2>
            <p class="lead">We are subject matter experts that provide service and expertise to empower individuals and organizations to benefit from robust, versatile open source software and related technologies.</p>

<!--
            <div class="row d-none d-md-flex">
              <div class="col-sm-6 mb-3">
                <h5>Apple iOS</h5>
                  <p class="lead mb-4">In 2018, we developed our first iOS application, <a target="_blank" href="https://apps.apple.com/us/app/zeitcaster-events/id1429254932">now available in the iOS App Store.</a></p>
              </div>
            </div>
-->
            <div class="row d-none d-md-flex">
              <div class="col-sm-6 mb-3">
                <h5>Objectively utilize</h5>
                  <p class="lead mb-4">Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare. </p>

              </div>
              <div class="col-sm-6 mb-3">
                <h5>Objectively utilize</h5>
                  <p class="lead mb-4">Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare. </p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="block block-inverse block-secondary app-code-block" id="pillow">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 order-2 order-md-1">
            <h6 class="text-muted text-uppercase">Open source</h6>
            <h2>Image processing with Pillow.</h2>
            <div class="col-sm-5 d-none d-md-block">
              <img class="app-iphone" src="/static/pillow-logo.png" style="width: 100%;">
            </div>
            <p class="lead mb-4 text-muted">In 2010, Alex Clark created <a style="text-decoration: none" href="https://python-pillow.org">Pillow</a> (a fork of the popular Python Imaging Library created by Fredrik Lundh). As of early 2017, Pillow has been downloaded over 15 million times, can be found in many major Linux distributions such as Ubuntu and Fedora Core, and is used by Fortune-100-serving companies like Atlassian. As of 2019, professional support is available from Tidelift.</p>
            <a target="_blank" class="btn btn-secondary btn-lg btn-borderless" href="https://tidelift.com/subscription/pkg/pypi-pillow">
              Buy Subscription
            </a>
          </div>
          <div class="col-md-5 ml-auto order-1 order-md-2">
<pre class="app-code">
<span>1</span> >>> from PIL import Image
<span>2</span> >>> im = Image.open("hopper.ppm")
<span>3</span>
<span>4</span> >>> from __future__ import print_function
<span>5</span> >>> print(im.format, im.size, im.mode)
<span>6</span> PPM (512, 512) RGB</pre>
          </div>
        </div>
      </div>
    </div>


    <div class="block block-inverse app-high-praise"
         style="background-image: url(/static/startup-3.jpg);" id="testimonials">
        <div class="container">
          <div class="row app-align-center py-3 justify-content-end">
            <div class="col-sm-7 col-md-5 py-5">
              <h6 class="text-muted text-uppercase mb-2">Testimonials</h6>
              <h2 class="mb-4">&quot;{{ testimonial.description }}&quot;</h2>
              <p class="mb-4 text-muted">{{ testimonial.name }}, {{ testimonial.title }}</p>
            </div>
          </div>
      </div>
    </div>

    <div class="block app-ribbon py-4">
      <div class="container text-xs-center"> 
        <img class="col-2" src="/static/amtrak-logo__white.svg">
        <img class="col-2" src="/static/nasa-logo.png">
        <img class="col-2" src="/static/National_Geographic_Logo_2016.png">
        <img class="col-2" src="/static/Horizontal_RGB_294.png">
        <a class="text-white" href="{% url 'clients' %}"><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>

    <div class="block block-secondary app-block-marketing-grid" id="technology">
      <div class="container text-xs-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-sm-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Technology</h6>
            <h2 class="mb-4">These are some of our preferred tools; it's not hard to see how using great tools yields great results.</h2>
          </div>
        </div>

        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <img class="mb-3" style="width: 250px" src="/static/django-logo-positive.png">
            <p><strong>Web framework</strong></p><p>Django makes it easier to build better Web apps more quickly and with less code.</p>
          </div>
          <div class="col-md-4 px-4 py-1 mb-5">
            <img class="bg-dark" style="width: 250px" src="/static/pillow-logo.png">
            <p><strong>Image processing library</strong></p><p>The Python Imaging Library (PIL) adds image processing capabilities to your Python interpreter. This library supports many file formats, and provides powerful image processing and graphics capabilities. <sup><a target="_blank" href="https://www.pythonware.com/products/pil/">1</a></sup></p>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <img class="mb-3" style="width: 250px" src="/static/python-logo-master-v3-TM.png">
            <p><strong>Programming language</strong></p><p>Python is a programming language that lets you work quickly and integrate systems more effectively.</p>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
