{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}
{% include 'block_fill_height.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}

    <div class="block block-secondary app-iphone-block">
      <div class="container">
        <div class="row app-align-center">

          <div class="col-sm-5 d-none d-md-block mb-5">
            <img class="app-iphone border border-muted p-4" src="{% static 'aclark-doe.jpg' %}" style="width: 100%;">
          </div>

          <div class="col-md-6 col-sm-12 ml-auto">
            <h6 class="text-muted text-uppercase">About</h6>
            <h2>Who We Are</h2>
            <p class="lead">Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
            <div class="row d-none d-md-flex">
              <div class="col-sm-6 mb-3">
                <h5>Objectively utilize</h5>
                  <p class="mb-4">Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare. </p>
              </div>
              <div class="col-sm-6 mb-3">
                <h5>Objectively utilize</h5>
                  <p class="mb-4">Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block block-inverse block-secondary app-code-block" id="pillow">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 order-2 order-md-1">
            <h6 class="text-muted text-uppercase">Pillow</h6>
            <h2>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</h2>
            <p class="lead">Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
            <a target="_blank" class="btn btn-secondary btn-lg btn-borderless" href="https://tidelift.com/subscription/pkg/pypi-pillow">
              Buy Subscription
            </a>
          </div>
          <div class="col-md-5 ml-auto order-1 order-md-2">
<pre class="app-code">
<span>1</span> >>> from PIL import Image
<span>2</span> >>> im = Image.open("hopper.ppm")
<span>3</span>
<span>4</span> >>> from __future__ import print_function
<span>5</span> >>> print(im.format, im.size, im.mode)
<span>6</span> PPM (512, 512) RGB</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="block block-inverse app-high-praise"
         style="background-image: url({% static 'aclarknet-website-slide3.jpg' %});" id="testimonials">
        <div class="container">
          <div class="row app-align-center py-3 justify-content-end">
            <div class="col-sm-7 col-md-5 py-5">
              <h6 class="text-muted text-uppercase mb-2">Testimonials</h6>
              <h2 class="mb-4">&quot;{{ testimonial.description }}&quot;</h2>
              <p class="mb-4 text-muted">{{ testimonial.name }}, {{ testimonial.title }}</p>
            </div>
          </div>
      </div>
    </div>

    <div class="block app-ribbon py-4 d-none d-md-block">
      <div class="container text-xs-center"> 
        <img class="col-2" src="/static/amtrak-logo__white.svg">
        <img class="col-2" src="/static/nasa-logo.png">
        <img class="col-2" src="/static/National_Geographic_Logo_2016.png">
        <img class="col-2" src="/static/Horizontal_RGB_294.png">
        <a class="text-white" href="{% url 'clients' %}"><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>

    <div class="block block-secondary app-block-marketing-grid" id="technology">
      <div class="container text-xs-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-sm-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Technology</h6>
            <h2 class="mb-4">Our preferred tools: using great tools yields great results.</h2>
          </div>
        </div>

        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
        </div>
        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Seamless</h2>
            <p>Seamlessly matrix leveraged process improvements and competitive interfaces. Monotonectally leverage other's proactive scenarios after goal-oriented human capital. Distinctively disintermediate functional e-commerce without revolutionary metrics.</p>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
