{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- https://paulferrett.com/fontawesome-favicon/ -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>
      
        ACLARK.NET, LLC
      
    </title>
    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/toolkit-startup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/application-startup.css' %}" rel="stylesheet">
    <link href="{% static 'carousel.css' %}" rel="stylesheet">

    {% render_bundle 'main' 'css' %}

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }

      /* https://stackoverflow.com/a/42183824/185820 */
      .dropdown:hover>.dropdown-menu {
        display: block;
        background: #262E35;
      }

      /* https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-hover-navbar/ */
      .dropdown-menu {
          padding: 0px 0; 
          margin: 0 0 0; 
          border: 0px solid transition !important;
          border: 0px solid rgba(0,0,0,.15);	
          border-radius: 2px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;

      }
      .dropdown-menu a {
        color: white; 
      }

      .dropdown-menu a:hover {
        background: white; 
        color: black;
      }
      .nav-link:hover {
        border-bottom: 1px solid white;
      }
      .caption {
        margin-top: 14rem;
      }
      .bold {
        font-weight: 1000;
      }

    </style>

    {% block head %}
    {% endblock %}

  </head>

<body>

<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'home' %}">Home</a></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'about' %}">About</a></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}#mission">Mission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}#pillow">Pillow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}#technology">Technology</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'team' %}">Team</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'services' %}">Services</a></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#consulting">Consulting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#software">Software</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#systems">Systems</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'clients' %}">Clients</a></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'contact' %}">Contact Us</a></li>
  </ul>
</div>

<div class="stage" id="stage">

{% include 'messages.html' %}

<div class="block block-inverse app-header" 
     style="background-color: #3883AC; background-position: top; padding-bottom: 3rem; margin-bottom: 0; background-image: url({% static 'startup-1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
    <a class="navbar-brand mr-auto" href="{% url 'home' %}">
      <span class="border border-light p-3" style="font-size: 120%">ACLARK.NET, LLC</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-none d-md-block text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1">
          <a class="nav-link {% if home_nav %}border-bottom {% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item px-1 dropdown"><!-- https://stackoverflow.com/a/29668214/185820 -->
          <a class="nav-link {% if about_nav %}border-bottom {% endif %}" href="{% url 'about' %}" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="{% url 'home' %}#mission">Mission</a>
            <a class="nav-link" href="{% url 'home' %}#pillow">Pillow</a>
            <a class="nav-link" href="{% url 'home' %}#technology">Technology</a>
            <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
            <a class="nav-link" href="{% url 'team' %}">Team</a>
          </div>
        </li>
        <li class="nav-item px-1 dropdown">
          <a class="nav-link {% if services_nav %}border-bottom {% endif %}" href="{% url 'services' %}">Services</a>
          <div class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="{% url 'services' %}#consulting">Consulting</a>
            <a class="nav-link" href="{% url 'services' %}#software">Software</a>
            <a class="nav-link" href="{% url 'services' %}#systems">Systems</a>
          </div>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link {% if clients_nav %}border-bottom {% endif %}" href="{% url 'clients' %}">Clients</a>
        </li>
        <li class="nav-item pl-5 ">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>


</div>


</div>


{% block content %}
{% include 'carousel.html' %}
    <div class="block m-0 py-4 d-none d-md-block app-price-plans">
      <div class="container text-xs-center my-5">
        <h6 class="text-dark" id="mission">Mission</h6>
        <p class="text-dark text-left">Our focus is to advance the use of open source software and related technologies. We are the organizers and leaders of DC Python, a 501(c)(3) Python user's group; the creator and project lead for Pillow; the lead organizers and hosts of Plone Conference 2008; and the providers of successful open source software development, consulting, training, hosting and support for companies and organizations from Amtrak to USAID, in the U.S. and around the world, since 2004. Our past, current, and future endeavors allow us to continue to reinforce and expand our commitment, outreach, as well as our involvement with open source technology and the community that depends on it.</p>
      </div>
    </div>
    <div class="block block-inverse block-secondary app-code-block" id="pillow">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 order-2 order-md-1">
            <h6 class="text-muted text-uppercase">Pillow</h6>
            <h2 class="mb-3">Python Imaging Library</h2>
            <p class="lead mt-3"><img class="float-left mr-3" style="width: 50px" src="{% static 'pillow-logo.png' %}">In 2010, Alex Clark created Pillow, a software development fork of the venerable Python Imaging Library. As of early 2017, Pillow has been downloaded over <strong>15 million times</strong>, can be found in many major Linux distributions such as Ubuntu and Fedora Core, and is used by Fortune-100-serving companies like Atlassian.
            <img class="float-right m-3" style="width: 150px" src="{% static 'Tidelift_logo_for-dark.png' %}">
            As of 2019, professional Pillow support is available from <a target="_blank" style="text-decoration: none" href="https://tidelift.com/subscription/pkg/pypi-pillow">Tidelift</a>.</p>
            <a target="_blank" class="btn btn-secondary btn-lg btn-borderless" href="https://tidelift.com/subscription/pkg/pypi-pillow">
              Learn More 
            </a>
          </div>
          <div class="col-md-5 ml-auto order-1 order-md-2">
<pre class="app-code">
<span>1</span> >>> from PIL import Image
<span>2</span> >>> im = Image.open("hopper.ppm")
<span>3</span>
<span>4</span> >>> from __future__ import print_function
<span>5</span> >>> print(im.format, im.size, im.mode)
<span>6</span> PPM (512, 512) RGB</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="block block-secondary">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 col-sm-12 mr-auto">
            <h6 class="text-dark text-uppercase">Book</h6>
            <p class="lead">Written by Alex Clark and based on Plone 3.3, this book will help you learn how to create, deploy and maintain all versions of Plone. The approach presented in this book continues through Plone 5 as part of the Plock project.</p>
            <a target="_blank" class="btn btn-lg border border-mute mt-5" href="https://www.packtpub.com/web-development/plone-33-site-administration">Learn More</a>
          </div>
          <div class="col-sm-5 d-none d-md-block mb-5 text-center">
            <img class="border border-muted p-4" src="{% static 'book.png' %}" style="width: 75%;">
          </div>
        </div>
      </div>
    </div>
    <div class="block block-inverse app-high-praise"
         style="background-image: url({% static 'aclarknet-website-slide3.jpg' %});" id="testimonials">
        <div class="container">
          <div class="row app-align-center py-3 justify-content-end">
            <div class="col-sm-7 col-md-5 py-5">
              <h6 class="text-muted text-uppercase mb-2">Testimonials</h6>
              <h2 class="mb-4">&quot;{{ testimonial.description }}&quot;</h2>
              <p class="mb-4 text-muted">{{ testimonial.name }}, {{ testimonial.title }}</p>
              <a class="text-white" href="{% url 'testimonials' %}"><i class="fas fa-ellipsis-h"></i></a>
            </div>
          </div>
      </div>
    </div>
    <div class="block app-ribbon py-4 d-none d-md-block">
      <div class="container text-xs-center"> 
        <img class="col-2" src="/static/amtrak-logo__white.svg">
        <img class="col-2" src="/static/nasa-logo.png">
        <img class="col-2" src="/static/National_Geographic_Logo_2016.png">
        <img class="col-2" src="/static/Horizontal_RGB_294.png">
        <a class="text-white" href="{% url 'clients' %}"><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>
    <div class="block block-secondary" id="technology">
      <div class="container text-xs-center">
        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-sm-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Technology</h6>
            <h2 class="mb-4">Preferred tools: using great tools yields great results.</h2>
          </div>
        </div>
        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Amazon Web Services</h2>
            <i class="fab fa-aws fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Bootstrap</h2>
            <i class="fab fa-bootstrap fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Font Awesome</h2>
            <i class="fab fa-font-awesome fa-5x"></i>
          </div>
        </div>
        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">GitHub</h2>
            <i class="fab fa-github fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">JavaScript</h2>
            <i class="fab fa-js fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Jenkins</h2>
            <i class="fab fa-jenkins fa-5x"></i>
          </div>
        </div>
        <div class="row app-marketing-grid">
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Linux</h2>
            <i class="fab fa-linux fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Python</h2>
            <i class="fab fa-python fa-5x"></i>
          </div>
          <div class="col-md-4 px-4 mb-5">
            <h2 class="mb-4">Swift</h2>
            <i class="fab fa-apple fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="block block-inverse">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 col-sm-12 mr-auto">
            <h6 class="text-uppercase">Plone Conference 2008</h6>
            <p class="lead">We created a 501(c)(3) non-profit organization, <a target="_blank" class="text-info" style="text-decoration: none" href="https://dcpython.org">DC Python</a> (ZPUGDC, Inc.) in 2008 to expand our outreach to the users and supporters of open source technology. The organization focuses mainly on servicing our local Washington, D.C., Maryland and Virginia Python community. One of our most significant contributions working with DC Python was the organization and hosting of Plone Conference 2008.</p>
            <a target="_blank" class="btn btn-lg border border-mute mt-5 text-light" href="https://dcpython.org">Learn More</a>
          </div>
          <div class="col-sm-5 d-none d-md-block mb-5 text-center">
            <img class="border bg-light border-muted p-3 mb-5" src="{% static 'ploneconf.png' %}" style="width: 50%;">
            <img class="border bg-light border-muted p-3" src="{% static 'ploneconf-group.jpg' %}" style="width: 75%;">
          </div>
        </div>
      </div>
    </div>

{% endblock %}


<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h6 class="text-uppercase">Blog</h6>
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
            <p>Alex Clark has been blogging since 2007 about a variety of technical and other topics. Read his blog to learn about Django, Pillow, Plone, Python, Open Source and more.</p>
          </li>
        </ul>
        <a class="btn btn-transparent border-light btn-lg text-light mb-5" target="_blank" href="https://blog.aclark.net">View Blog</a>
        

      </div>
      <div class="col-md-2 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'about' %}">About</a></h6></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'home' %}#mission">Mission</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'home' %}#pillow">Pillow</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'home' %}#technology">Technology</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'testimonials' %}">Testimonials</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'team' %}">Team</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'services' %}">Services</a></h6></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#consulting">Consulting</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#software">Software</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#systems">Systems</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'dashboard' %}">Staff</a></h6></li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'dashboard' %}">Dashboard</a>{% else %}<a class="text-muted" style="text-decoration: none" href="{% url 'dashboard' %}">Sign in</a>{% endif %}</li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'user_view' request.user.id %}">Profile</ class="text-muted"a>{% endif %}</li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'logout' %}?next={% url 'home' %}">Sign out</a>{% endif %}</li>
        </ul>
      </div>
      <span class="mx-auto text-muted">&copy; 2019 ACLARK.NET, LLC. All Rights Reserved. <a class="text-muted" style="text-decoration: none" href="{% url 'contact' %}">Contact Us.</a></span>
    </div>
  </div>

</div>

</div>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/toolkit.js' %}"></script>
<script src="{% static 'assets/js/application.js' %}"></script>
<script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>

<script src="https://kit.fontawesome.com/b99cce5dfd.js"></script>

{% render_bundle 'main' 'js' %}

</body>
</html>
