{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- https://paulferrett.com/fontawesome-favicon/ -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>
      
        ACLARK.NET, LLC
      
    </title>
    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/toolkit-startup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/application-startup.css' %}" rel="stylesheet">

    {% render_bundle 'main' 'css' %}

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }

      /* https://stackoverflow.com/a/42183824/185820 */
      .dropdown:hover>.dropdown-menu {
        display: block;
        background: #262E35;
      }

      /* https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-hover-navbar/ */
      .dropdown-menu {
          padding: 0px 0; 
          margin: 0 0 0; 
          border: 0px solid transition !important;
          border: 0px solid rgba(0,0,0,.15);	
          border-radius: 2px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;

      }
      .dropdown-menu a {
        color: white; 
      }

      .dropdown-menu a:hover {
        background: white; 
        color: black;
      }
      .nav-link:hover {
        border-bottom: 1px solid white;
      }

      .caption {
        margin-top: 5rem; 
        margin-left: 3rem; 
      }
        
    </style>


    {% block head %}
    {% endblock %}

  </head>

<body>

<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'home' %}">Home</a></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'about' %}">About</a></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}#technology">Technology</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'team' %}">Team</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'services' %}">Services</a></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#consulting">Consulting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#software">Software</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}#systems">Systems</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'clients' %}">Clients</a></li>
    <li class="nav-header"><a style="text-decoration: none" href="{% url 'contact' %}">Contact Us</a></li>
  </ul>
</div>

<div class="stage" id="stage">

{% include 'messages.html' %}

{% block block_fill_height %}

<div class="block block-inverse block-fill-height app-header"
    style="background-image: url({% static 'startup-1.jpg' %}); background-position: -80px; background-repeat: repeat-x">

{% endblock %}

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
    <a class="navbar-brand mr-auto" href="{% url 'home' %}">
      <span class="border border-light p-3" style="font-size: 120%">ACLARK.NET, LLC</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-none d-md-block text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1">
          <a class="nav-link {% if home_nav %}border-bottom {% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item px-1 dropdown"><!-- https://stackoverflow.com/a/29668214/185820 -->
          <a class="nav-link {% if about_nav %}border-bottom {% endif %}" href="{% url 'about' %}" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="{% url 'about' %}#technology">Technology</a>
            <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
            <a class="nav-link" href="{% url 'team' %}">Team</a>
          </div>
        </li>
        <li class="nav-item px-1 dropdown">
          <a class="nav-link {% if services_nav %}border-bottom {% endif %}" href="{% url 'services' %}">Services</a>
          <div class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="{% url 'services' %}#consulting">Consulting</a>
            <a class="nav-link" href="{% url 'services' %}#software">Software</a>
            <a class="nav-link" href="{% url 'services' %}#systems">Systems</a>
          </div>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link {% if clients_nav %}border-bottom {% endif %}" href="{% url 'clients' %}">Clients</a>
        </li>
        <li class="nav-item pl-5 ">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>


</div>

{% block app_graph %}
  <img class="app-graph" src="{% static 'assets/img/startup-0.svg' %}">
{% endblock %}

{% block content %}

  <div class="block-xs-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
{% include 'carousel.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</div>

{% block marketing %}
{% endblock %}

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h6 class="text-uppercase">Mission</h6>
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">

<!--
           <p>From Amtrak to USAID and NASA and National Geographic in between, we've helped great companies do great things with open source software and related technologies, and we look forward to helping you.</p>
-->

          <p>Our focus is to advance the use of open source software and related technologies. We are the organizers and leaders of DC Python, a 501(c)(3) Python user's group; the creator and project lead for Pillow; the lead organizers and hosts of Plone Conference 2008; and the providers of successful open source software development, consulting, training, hosting and support for companies and organizations from National Geographic to NASA, in the U.S. and around the world, since 2004. Our past, current, and future endeavors allow us to continue to reinforce and expand our commitment, outreach, as well as our involvement with open source technology and the community that depends on it.</p>

          </li>
        </ul>
        <a class="btn btn-transparent border-light btn-lg text-light mb-5" href="{% url 'contact' %}">Contact Us</a>
        

      </div>
      <div class="col-md-2 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'about' %}">About</a></h6></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'about' %}#technology">Technology</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'testimonials' %}">Testimonials</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'team' %}">Team</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'services' %}">Services</a></h6></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#consulting">Consulting</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#software">Software</a></li>
          <li><a class="text-muted" style="text-decoration: none" href="{% url 'services' %}#systems">Systems</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase"><a style="text-decoration: none" href="{% url 'dashboard' %}">Staff</a></h6></li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'dashboard' %}">Dashboard</a>{% else %}<a class="text-muted" style="text-decoration: none" href="{% url 'dashboard' %}">Sign in</a>{% endif %}</li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'user_view' request.user.id %}">Profile</ class="text-muted"a>{% endif %}</li>
          <li>{% if not request.user.is_anonymous %}<a class="text-muted" style="text-decoration: none" href="{% url 'logout' %}?next={% url 'home' %}">Sign out</a>{% endif %}</li>
        </ul>
      </div>
      <span class="mx-auto text-muted">&copy; 2019 ACLARK.NET, LLC. All Rights Reserved.</span>
    </div>
  </div>

</div>

</div>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/toolkit.js' %}"></script>
<script src="{% static 'assets/js/application.js' %}"></script>
<script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>

<script src="https://kit.fontawesome.com/b99cce5dfd.js"></script>

{% render_bundle 'main' 'js' %}

</body>
</html>
