{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row py-3">
    <div class="col-12 p-3 lead">
      <h1 class="py-3">Job Listings</h1>
      <p class="lead">We are always looking for experienced professionals to augment our team of talented, core developers. <a href="{% url 'contact' %}">Please contact us</a> if you are interested in working with us.</p>
      <hr>
      <p class="text-muted">No positions available at this time.</p>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
