{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row py-3">
    <div class="col-12 p-3 lead">
      <h1 class="py-3">Job Listings</h1>
      <h4>We are always looking for experienced professionals to augment our team of talented, core developers. <a href="{% url 'contact' %}">Please contact us</a> if you are interested in working with us.</h4>

<!--
      <h2>Senior Python Developer <a class="text-muted" href="#senior-python-developer" id="senior-python-developer">#</a></h2>
      <h4 class="text-muted">January 2020</h4>
      <p><strong>ACLARK NET</strong> has an immediate opening on its development team for a part-time, remote senior Python developer proficient in some or all of the following technologies:</p>
      <ul>
      <li>Django forms</li>
      <li>GeoDjango</li>
      <li>Django REST Framework</li>
      <li>TinyMCE editor</li>
      <li>Django Taggit</li>
      <li>Large datasets</li>
      <li>Unit &amp; functional testing</li>
      <li>GIS</li>
      <li>Workflow</li>
      </ul>
      <p>Expertise in at least 3 of the above technologies required; more a plus. Please send résumé, availability &amp; hourly rate to Amy Clark at: <a href="mailto:amy@aclark.net">amy@aclark.net</a>.</p>
-->
      <hr class="pb-5">
    </div>
  </div>
</div>
{% endblock %}
