{% load static %}

{% block head %}
    <link href="{% static 'carousel.css' %}" rel="stylesheet">
{% endblock %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" style="margin-bottom: 4rem">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="text-left caption">
            <h1 class="display-4">Consulting.</h1>
            <p>We provide expert level evaluation of technical environments and infrastructure. We then make recommendations to optimize and customize the use of technology to best accommodate client needs.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#consulting" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="text-left caption">
            <h1 class="display-4">Software.</h1>
            <p>We excel at developing custom software and delivering exceptional results.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#software" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="text-right caption">
            <h1 class="display-4">Systems.</h1>
            <p>We are technology subject matter experts whose expertise includes open source software &amp; related technologies.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#systems" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
