{% load static %}
  <div id="myCarousel" class="carousel slide m-0" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"
        style="background-image: url({% static 'istockphoto-951514270-1024x1024.jpg' %});background-position: center;background-repeat: no-repeat">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="display-1 font-weight-bold text-dark">Consulting.</h1>
            <p class="font-weight-bold text-dark">We provide expert level evaluation of technical environments and infrastructure. We then make recommendations to optimize and customize the use of technology to best accommodate client needs.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#consulting" role="button">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url({% static 'aclarknet-about.jpg' %});background-position: center;background-repeat: no-repeat">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="display-1 text-white font-weight-bold">Software.</h1>
            <p class="font-weight-bold">We excel at developing custom software and delivering exceptional results.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#software" role="button">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url({% static 'aclarknet-carousel-1.jpg' %});background-position: center;background-repeat: no-repeat">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="display-1 font-weight-bold text-white">Systems.</h1>
            <p class="font-weight-bold">We are technology subject matter experts whose expertise includes open source software &amp; related technologies.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'services' %}#systems" role="button">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
