{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block content %}
  <div id="clients">
    <div class="container text-center">
      <div class="row m-5 justify-content-center">
        <div class="col-12"> 
          <h1>Our Clients</h1>
          <h2>We support organizations worldwide.</h2>
        </div>
      </div>
      <div class="row bg-white text-dark">
        <div class="col-3 px-4 py-2 my-5"> 
          <h3>Government</h3>
          <ul class="text-left mt-1">
          {% for client in clients_government %}
            <li>{{ client }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-3 px-4 py-2 my-5"> 
          <h3>Non-Profit</h3>
          <ul class="text-left mt-1">
          {% for client in clients_non_profit %}
            <li>{{ client }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-3 px-4 py-2 my-5"> 
          <h3>Private Sector</h3>
          <ul class="text-left mt-1">
          {% for client in clients_private_sector %}
            <li>{{ client }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-3 px-4 py-2 my-5"> 
          <h3>Colleges & Universities</h3>
          <ul class="text-left mt-1">
          {% for client in clients_colleges_universities %}
            <li>{{ client }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
