{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}

<div class="block block-inverse app-header" 
     style="background-image: url({% static 'startup-1.jpg' %}); background-position: top;padding: 70px">

{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}
    <div class="block app-price-plans">
      <div class="container text-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Our Clients</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <ul class="list-unstyled list-bordered mb-5">
                <li><h6 class="text-uppercase p-3 text-dark">Government</h6></li>
              </ul>
            </div>

            <ul class="list-unstyled text-xs-left">
            {% for client in clients_government %}
              <li class="py-1">{{ client }}</li>
            {% endfor %}
            </ul>

          </div>

          <div class="col-md-3 px-4 pb-2 mb-5">
            <div class="px-2">
              <ul class="list-unstyled list-bordered mb-5">
                <li><h6 class="text-uppercase p-3 text-dark">Nonprofit</h6></li>
              </ul>
            </div>

            <ul class="list-unstyled text-xs-left">
            {% for client in clients_non_profit %}
              <li class="py-1">{{ client }}</li>
            {% endfor %}
            </ul>

          </div>

          <div class="col-md-3 px-4 pb-1 mb-5">
            <div class="px-2">
              <ul class="list-unstyled list-bordered mb-5">
                <li><h6 class="text-uppercase p-3 text-dark">Corporate</h6></li>
            </div>

            <ul class="list-unstyled text-xs-left">
            {% for client in clients_private_sector %}
              <li class="py-1">{{ client }}</li>
            {% endfor %}
            </ul>

          </div>

          <div class="col-md-3 px-4 pb-1 mb-5">
            <div class="px-2">
              <ul class="list-unstyled list-bordered mb-5">
                <li><h6 class="text-uppercase p-3 text-dark">Education</h6></li>
              </ul>
            </div>

            <ul class="list-unstyled text-xs-left">
            {% for client in clients_colleges_universities %}
              <li class="py-1">{{ client }}</li>
            {% endfor %}
            </ul>

          </div>

        </div>

      </div>
    </div>

{% endblock %}
