{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
    <div class="block block-secondary app-iphone-block">
      <div class="container">
        <div class="row app-align-center">
          <div class="col-md-6 col-sm-12 mr-auto pb-5">
            <h6 class="text-dark text-uppercase text-center">Contact Us</h6>
            <p class="lead mt-5">Please provide the following information:</p>
            <form action="" method="post" class="text-left">{% csrf_token %}{{ form|crispy }}
              <button class="btn btn-lg btn-primary" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-sm-5 mb-5 text-left">
            <img class="border border-muted w-100 mb-3" src="{% static 'aclarknet-website-background.jpg' %}"> 
            <p>ACLARKNET is based in Bethesda, Maryland. We are active participants in the highly innovative, thriving Washington, D.C. technology scene.</p>
            <p><a class="text-dark text-decoration-none" target="_blank" href="mailto:aclark@aclark.net"><i class="fas fa-envelope"></i>&nbsp;info@aclark.net</a></p>
            <p><a class="text-dark text-decoration-none" target="_blank" href="https://goo.gl/maps/qEiATL78oK83RD5j7"><i class="fas fa-map-marker"></i>&nbsp;Bethesda, MD</a></p>
            <p><a class="text-dark text-decoration-none" target="_blank" href="https://www.facebook.com/AClarkNet-108556904081744"><i class="fab fa-facebook"></i>&nbspFacebook</a></p>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
