{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block block_fill_height %}
{% include 'block_fill_height.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}

    <div class="block block-secondary app-iphone-block">
      <div class="container pb-5">
        <div class="row app-align-center">
          <div class="col-md-6 col-sm-12 mr-auto">
            <h6 class="text-dark text-uppercase text-center">Contact Us</h6>
            <p class="lead mt-5">To contact us, please provide the following information:</p>
            <form action="" method="post" class="text-left">{% csrf_token %}{{ form|crispy }}
              <button class="btn btn-lg btn-primary" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-sm-5 mb-5">
            <p class="d-none d-md-block">
              <img class="app-iphone border border-muted p-4" src="{% static 'aclark-doe.jpg' %}" style="width: 100%;">
            </p>
<!--
            <ul class="list-unstyled p-5">
              <li class="p-3"><h2><a style="text-decoration: none" target="_blank" href="https://goo.gl/maps/nDtEgV4ppX5MDCuh8"><i class="fas fa-map-marker-alt fa-2x text-dark" style="vertical-align: middle"></i><span class="text-dark m-1">Bethesda, MD, USA</span></a></h2></li>
              <li class="p-3"><h2><a style="text-decoration: none" href="mailto:aclark@aclark.net"><i class="fas fa-envelope-square fa-2x text-dark" style="vertical-align: middle"></i><span class="text-dark m-1">info@aclark.net</a></span></h2></li>
-->
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
