{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block marketing %}
{% endblock %}

{% block content %}
  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6 mt-5">
          <h1 class="block-titleData frequency">Thank you for your interest in ACLARK.NET, LLC</h1>
          <p class="lead mb-4 text-muted">Please use this form to contact our team, we look forward to speaking with you.</p>
          <form action="" method="post">{% csrf_token %}{{ form|crispy }}
            <button class="btn btn-lg btn-primary" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
