{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Job Listings</h1>
      <h2>Senior Python Developer</h2>
      <p>ACLARK NET has an immediate opening on their development team for a part-time remote senior Python developer proficient in some/all of the following technologies:</p>
      <ul>
      <li>Django forms</li>
      <li>GeoDjango</li>
      <li>Django REST Framework</li>
      <li>TinyMCE editor</li>
      <li>Django Taggit</li>
      <li>Large datasets</li>
      <li>Unit &amp; functional testing</li>
      <li>GIS</li>
      <li>Workflow</li>
      </ul>
      <p>Having expertise in at least 3 of the above technologies is required; more is a plus. Please send résumé and hourly rate to Amy Clark at: amy@aclark.net.</p>
    </div>
  </div>
</div>
{% endblock %}
