{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>
Senior Python Developer
ACLARK NET has an immediate opening on their development team for a part-time remote senior Python developer proficient in some/all of the following technologies:

Django forms
GeoDjango
Django REST Framework
TinyMCE editor
Django Taggit
Large datasets
Unit & functional testing
GIS
Workflow

Having expertise in at least 3 of the above technologies is required; more is a plus. Please send résumé and hourly rate to Amy Clark at: amy@aclark.net.

</p>

{% endblock %}
