{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}
{% include 'block_fill_height.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}

<div class="block block-secondary app-block-marketing-grid">
  <div class="container text-xs-center">

    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-muted text-uppercase">Services</h6>
        <p class="lead mb-5">We offer a variety of professional technical services including IT Consulting, Software Development, System &amp; Network Administration and more.</p>
        <h2 class="" id="it-consulting">IT Consulting</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Consulting services</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Systems engineering</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Training</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="" id="software-development">Software Development</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
    </div>


    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="" id="system-network-administration">System &amp; Network Administration</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Seamless</h6>
        <p>Objectively utilize timely human capital before technically sound quality vectors. Intrinsicly formulate process-centric outsourcing whereas impactful process improvements. Conveniently coordinate out-of-the-box infrastructures whereas impactful mindshare.</p>
      </div>
    </div>


  </div>
</div>


{% endblock %}
