{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}
{% include 'block_fill_height.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}

<div class="block block-secondary app-block-marketing-grid">
  <div class="container text-xs-center">

    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-muted text-uppercase">Services</h6>
        <p class="lead">We offer a variety of professional technical services including software development, systems administration and more.</p>
        <h2 class="mt-5" id="software">Software</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Development</h6>
        <p class="lead">We excel at developing custom software and delivering exceptional results. We build Python-based web applications and iOS applications with:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>JavaScript</li>
          <li>Python</li>
          <li>Swift</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Engineering</h6>
        <p class="lead">We are computer scientists on a mission to build the best possible software by applying established principles of software engineering to software:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>Architecture</li>
          <li>Process Improvement</li>
          <li>Security</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Testing</h6>
        <p class="lead">We test all the code we write to ensure that it performs as expected, meets all the requirements, and runs where it's supposed to run. We use, among others:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>UnitTest</li>
          <li>PyTest</li>
          <li>PyTest-BDD (Behavior-Driven Development)</li>
        </ul>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="" id="strategy">Strategy</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">IT Consulting</h6>
        <p class="lead">We are technology subject matter experts whose expertise includes open source software &amp; related technologies, including:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>Backup and Security</li>
          <li>Cloud and Cloud-Related Services</li>
          <li>Data Conversion</li>
          <li>Introduction to New Information Technology</li>
          <li>Network Management</li>
          <li>Software Maintenance</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">IT Outsourcing</h6>
        <p class="lead">We are here to takeover, improve, maintain and manage critical IT infrastructure for your organization (so your organization can focus on its mission), including:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>Cloud IT Acquisition Services</li>
          <li>Data Center Services</li>
          <li>Health IT Services</li> 
          <li>Implementation Services</li>
          <li>Maintenance and Support</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Training</h6>
        <p class="lead">We believe training is of critical importance to the success of your project and offer quality training on a variety of technical subjects, including:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>Agile Methodology</li>
          <li>Django Web Application Development</li>
          <li>Plone Enterprise Content Management System
            <ul class="lead" style="list-style-type: square">
              <li>Developer &amp; Integrator Training</li>
              <li>End User Training</li>
            </ul> 
          </li>
          <li>Python Programming</li>
        </ul>
      </div>
    </div>


    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="" id="systems">Systems</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Maintenance</h6>
        <p class="lead">We provide mission critical systems maintenance &amp; technical support for our clients' infrastructure &amp; staff.
        <ul class="text-left lead" style="list-style-type: square">
          <li>Intrinsicly formulate effective data rather than cutting-edge services.</li>
          <li>Intrinsicly formulate effective data rather than cutting-edge services.</li>
          <li>Intrinsicly formulate effective data rather than cutting-edge services.</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Optimization</h6>
        <p class="lead">We are performance experts whose mission is to find performance issues and resolve them by increasing efficiency and reducing resource consumption. We use:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>New Relic</li>
          <li>Sentry</li>
          <li>Zenoss</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h6 class="text-muted text-uppercase">Technical Support</h6>
        <p class="lead">We provide mission critical support for a variety of business applications and IT systems, including:</p>
        <ul class="text-left lead" style="list-style-type: square">
          <li>Plone Content Management Systems</li>
          <li>Django Websites</li>
          <li>Cloud Storage</li>
        </ul>
      </div>
    </div>


  </div>
</div>


{% endblock %}
