{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block block_fill_height %}

<div class="block block-inverse app-header" 
     style="background-image: url({% static 'startup-1.jpg' %}); padding: 70px">

{% endblock %}

{% block content %}
{% endblock %}

{% block marketing %}

  <div id="services">
    <div class="container text-center">
      <div class="row m-5 justify-content-center">
        <div class="col-12">
          <h1>Our Services</h1>
        </div>
      </div>
      <div class="row">
        {% for service in services %}
        <div class="col-4 px-4 py-2 my-5">
          <div class="p-2">
              <h1>{{ service.name }}</h1>
              <p>{{ service.description|safe }}</p>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
