{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block content %}
{% endblock %}

{% block block_fill_height %}
{% include 'block_fill_height.html' %}
{% endblock %}

{% block marketing %}

    <div class="block app-price-plans">
      <div class="container text-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Meet Our Team</h6>
            <h2>Management</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <h6 class="text-muted text-uppercase mb-4">President</h6>
              <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/aclark-jobs-75-100.jpg">
              <p class="pb-2">Plenty of processing power for any personal projects, big or small.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>10k</strong> monthly requests</li>
              <li class="py-4"><strong>9am-5pm</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <a target="_blank" href="https://twitter.com/aclark4life"><i class="fab fa-twitter-square fa-3x"></i></a>
            <a target="_blank" href="https://linkedin.com/in/aclark4life"><i class="fab fa-linkedin fa-3x"></i></a>
            <a target="_blank" href="https://blog.aclark.net"><i class="fas fa-rss-square fa-3x"></i></a>
            <a target="_blank" href="https://facebook.com/aclark4life"><i class="fab fa-facebook-square fa-3x"></i></a>
            <a target="_blank" href="https://github.com/aclark4life"><i class="fab fa-github-square fa-3x"></i></a>

          </div>

          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <h6 class="text-muted text-uppercase mb-4">Business Coordinator</h6>
              <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/amy.png">
              <p class="pb-2">The perfect sized plan for small businesses to get started.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>100k</strong> monthly requests</li>
              <li class="py-4"><strong>24/7</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block">
              Start <span class="d-none d-xl-inline">a business account</span>
            </button>
          </div>

        </div>

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h2>Development &amp; Support</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
              <img class="mb-4 border border-muted p-4" src="https://get-some-cold-cuts.aclark.net/static/alan.jpg">
              <p class="pb-2">Plenty of processing power for any personal projects, big or small.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>10k</strong> monthly requests</li>
              <li class="py-4"><strong>9am-5pm</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block">
              Start <span class="d-none d-xl-inline">a personal account</span>
            </button>
          </div>

          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
              <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/eric%20head.jpg">
              <p class="pb-2">The perfect sized plan for small businesses to get started.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>100k</strong> monthly requests</li>
              <li class="py-4"><strong>24/7</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block">
              Start <span class="d-none d-xl-inline">a business account</span>
            </button>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
              <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/steveb.jpeg">
              <p class="pb-2">Plenty of processing power for any personal projects, big or small.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>10k</strong> monthly requests</li>
              <li class="py-4"><strong>9am-5pm</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block">
              Start <span class="d-none d-xl-inline">a personal account</span>
            </button>
          </div>

          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
              <img class="mb-4 border border-muted p-4" src="https://get-some-cold-cuts.aclark.net/static/quincey.png">
              <p class="pb-2">The perfect sized plan for small businesses to get started.</p>
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4"><strong>100k</strong> monthly requests</li>
              <li class="py-4"><strong>24/7</strong> technical supprt</li>
              <li class="py-4"><strong>Public</strong> API access</li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block">
              Start <span class="d-none d-xl-inline">a business account</span>
            </button>
          </div>

        </div>

      </div>
    </div>

{% endblock %}
