{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block content %}
{% endblock %}

{% block block_fill_height %}
<div class="block block-inverse app-header" 
     style="background-image: url({% static 'startup-1.jpg' %}); background-position: top;padding: 70px">
{% endblock %}

{% block marketing %}

    <div class="block app-price-plans">
      <div class="container text-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Our Team</h6>
            <h2>Management</h2>
          </div>
        </div>

        <div class="row">
          {% for profile in profiles %}
          {% if profile.get_username == 'aclark' or profile.get_username == 'amy' %}
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <h6 class="text-muted text-uppercase mb-4">{{ profile.job_title }}</h6>
              <img class="mb-4 img-thumbnail" src="{{ profile.get_avatar_url }}">
            </div>
            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4">{{ profile.bio|safe }}</li>
            </ul>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h2>Development and Support</h2>
          </div>
        </div>

        <div class="row">
          {% for profile in profiles %}
          {% if profile.get_username != 'aclark' and profile.get_username != 'amy' %}
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <h6 class="text-muted text-uppercase mb-4">{{ profile.job_title }}</h6>
              <img class="mb-4 img-thumbnail" src="{{ profile.get_avatar_url }}">
            </div>

            <ul class="list-unstyled list-bordered text-xs-left my-4">
              <li class="py-4">{{ profile.bio|safe }}</li>
            </ul>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>

{% endblock %}
