{% extends 'base.html' %}
{% load static %}

{% block app_graph %}
{% endblock %}

{% block content %}
{% endblock %}

{% block block_fill_height %}
<div class="block block-inverse app-header" 
     style="background-image: url({% static 'startup-1.jpg' %}); background-position: top;padding: 70px">
{% endblock %}

{% block marketing %}

    <div class="block app-price-plans">
      <div class="container text-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-muted text-uppercase mb-2">Our Team</h6>
            <h2>Management</h2>
          </div>
        </div>

        <div class="row mb-5 justify-content-center">
          <div class="col-md-6">
            <h6 class="text-muted text-uppercase mb-4">President</h6>
            <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/aclark-jobs-75-100.jpg">
            <h2>Alex&nbsp;Clark</h2>
            <div class="row ml-5 mr-1">
              <div class="col-12 text-left">
                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p><p>Alex Clark is President of ACLARK.NET, LLC, a technical service provider in Bethesda, MD, USA, serving the greater DC/MD/VA area and global client base since 2004.</p><p>He is also the President of ZPUGDC, INC. / DC Python, a non-profit organization he co-founded in 2008 to promote and support the use of Python software in DC.</p></p></li>
                </ul>
              </div>
            </div>
          </div>
            
          <div class="col-md-6">
            <h6 class="text-muted text-uppercase mb-4">Business Coordinator</h6>
            <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/amy.png">
            <h2>Amy&nbsp;Clark</h2>
            <div class="row ml-5 mr-1">
              <div class="col-12 text-left">
                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p><p>Experienced Executive, Business Developer, Project/Team/Event Organizer and Manager.</p><p>She is also the Secretary and Treasurer of ZPUGDC, INC. / DC Python, a non-profit organization she co-founded in 2008 to promote and support the use of Python software in DC.</p></p></li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h2>Development &amp; Support</h2>
          </div>
        </div>

        <div class="row mb-5 justify-content-center">
            
          <div class="col-md-6 mb-5">
            <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
            <img class="mb-4 border border-muted p-4" src="https://get-some-cold-cuts.aclark.net/static/alan.jpg">
            <h2>Alan&nbsp;Swenson</h2>
            <div class="row ml-5">
              <div class="col-12 text-left">

                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p>Professional in Audio Post Production with 11 years experience. Working on leveling up with Python, Flask, Postgres, Zappa, Lambda and Rust</p></li>
                </ul>

              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-5">
            <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
            <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/eric%20head.jpg">
            <h2>Eric&nbsp;Soroos</h2>
            <div class="row ml-5">
              <div class="col-12 text-left">

                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p>Eric is a developer and system administrator located near Dublin, Ireland with recent experence in the fintech/payments industry. As a maintainer of the of the Pillow Project, he has experience with all levels of the Python stack.&nbsp; He has been working with the Python ecosystem for over 15 years.</p></li>
                </ul>

              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-5">
            <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
            <img class="mb-4 border border-muted p-4" src="https://aclark.net/static/steveb.jpeg">
            <h2>Steve&nbsp;Barber</h2>
            <div class="row ml-5">
              <div class="col-12 text-left">

                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p><p>Steve Barber has a Bachelor of Science in Computer Science; he has been a Computer Scientist at the National Institute of Standards and Technology (NIST) since 1995, where he provides infrastructure support for over 500 scientists performing various kinds of research.</p></p></li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <h6 class="text-muted text-uppercase mb-4">Team Member</h6>
            <img class="mb-4 border border-muted p-4" src="https://get-some-cold-cuts.aclark.net/static/quincey.png">
            <h2>Quincey&nbsp;Clark</h2>
            <div class="row ml-5">
              <div class="col-12 text-left">

                <ul class="list-unstyled list-bordered text-xs-left my-4">
                  <li class="py-4"><p>Quincey is the first Python programming dog. He is our designated PPP (Python Programming Pomeranian.)</p></li>
                </ul>

              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>

{% endblock %}

            
          
            
          
            
          
            
          

