{% extends 'db/base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Contracts</h1>
            </div>
            <div class="col-md-3">
              <a class="btn btn-block btn-lg btn-success" href="{% url 'contract_edit' %}">Add Contract</a>
            </div>
          </div>
{% with items=items.contracts %}     
{% include 'pagination.html' %}
{% endwith %}
{% include 'table_contracts.html' %}
{% with items=items.contracts %}     
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
